<div class="flex flex-col justify-center items-center h-screen text-center">
    
    <img src="~/assets/loader.png" alt="Game Logo" class="glow-logo w-[25rem] md:w-[30rem] lg:w-[35rem]">  

    <a href="@Url.Action("Choose", "Game")" class="button relative inline-block border-[6px] border-blue-400 shadow-2xl shadow-blue-500 animate-glow overflow-hidden
              rounded-[20px] xs:rounded-[22px] sm:rounded-[25px] md:rounded-[30px] lg:rounded-[40px] mt-12" onclick="playClickSound(event,this)">
        <img src="~/assets/button_start.png" alt="Game Icon" class="w-40 md:w-48 lg:w-60">
    </a>

</div>
 